



@font-face {
    font-family: "times new roman";
    src: url("../webfonts/Times new roman/times new roman.ttf") format("truetype") , url("../webfonts/Times new roman/times\ new\ roman.woff") format("woff") ; 
    font-weight: 400;
    font-style: normal;
}





@font-face {
    font-family: "times new roman bold";
    src: url("../webfonts/Times new roman/times new roman bold.ttf") format("truetype") ,  url("../webfonts/Times new roman/times new roman bold.woff") format("woff") ;
    font-weight: 700;
    font-style: normal;
}






